body {
    background-color: rgb(207, 212, 216);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    
}

#sivulista {
    flex: 1;
    margin-top: 20px;
    max-width: 150px;
}

#navigointi {
    margin-bottom: 80px;
    text-align: left;
}

#navigointi a {
    text-decoration: none;
    background-color: rgb(212, 228, 228);
    padding: 8px;  
    border-radius: 5px; 
}

.sisalto {
    flex: 2;
    text-align: center;
    margin-right: 120px;
}

.sisalto h1 {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.paakuva {
    max-height: 400px;
    float: left;
    margin-right: 15px;
}

figcaption {
    font-size: 15px;
}

table {
    margin: 35px;
    margin-left: 80px;
    border: 1px solid;
}

td {
    padding: 10px;
    font-weight: lighter;
    
}